@font-face {
    font-family: 'Motiva Sans';
    src: url('/fonts/MotivaSans-Regular.ttf?v=4.007') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('/fonts/MotivaSans-Light.ttf?v=4.007') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('/fonts/MotivaSans-Thin.ttf?v=4.007') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('/fonts/MotivaSans-Medium.ttf?v=4.007') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('/fonts/MotivaSans-Bold.ttf?v=4.007') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('/fonts/motiva-sans-regular-italic.ttf?v=4.007') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('/fonts/motiva-sans-light-italic.ttf?v=4.007') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('/fonts/motiva-sans-bold-italic.ttf?v=4.007') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/*
 *  [ HTML & BODY ]
 */

html {
    height: 100%;
    min-width: fit-content;
}

html,
body {
    min-height: 100%;
}

body {
    background-image: url("https://cdn.discordapp.com/attachments/889228859503968267/934392793344913458/background.png");
    background-size: 80%;
    background-color: #171717;
    color: #91979a;
    font-family: 'Motiva Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    position: relative;
}

.page-container {
    max-width: 948px;
    margin: 0 auto;
    padding: 20px 1% 0 1%;
    padding-bottom: 82px;
}

/*
 *  [ NAVIGATION BAR ]
 */

nav {
    border-bottom: 2px solid #363636;
    background-color: #191919 !important;
}

nav .nav-wrapper {
    max-width: 940px;
    margin: 0 auto;
}

nav .nav-wrapper .brand-logo {
    padding: 0 10px;
    bottom: 0;
    height: 62px;
    transform: translate(-50%, 0);
}

nav .nav-wrapper .nav-container {
    margin-left: 36px;
    width: 100%;
}

nav .nav-wrapper .nav-container li a,
.sidenav li a {
    transition: color .2s;
    color: #b9bbbe;
}

nav .nav-wrapper .nav-container li a:hover,
.sidenav li a:hover {
    color: #ffffff;
}

nav .nav-wrapper .search-form {
    vertical-align: middle;
    display: inline-block;
    width: 256px;
    height: 32px;
    padding-right: 10px;
}

nav .nav-wrapper .search-form input {
    height: inherit;
    padding: 0 10px !important;
    font-size: 14px !important;
    box-sizing: border-box !important;
    background-color: hsl(0, 0%, 5%) !important;
    border: 1px solid #363636 !important;
    font-family: 'Motiva Sans', sans-serif;
    color: #b9bbbe;
    float: left;
    width: 80%
}

nav .nav-wrapper .search-form input:focus {
    border: 1px solid #4D90FE !important;
    -webkit-box-shadow: 0px 0px 5px #4D90FE !important;
    box-shadow: 0px 0px 5px #4D90FE !important;
}

nav .nav-wrapper .search-form button {
    vertical-align: top;
    padding-left: 12px;
    overflow: hidden;
    height: inherit;
    background-color: #0084c1;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 20%;
}

nav .nav-wrapper .search-form button i {
    height: auto;
    line-height: 1.3;
}

nav .nav-wrapper .search-form .search-button:hover,
nav .nav-wrapper .search-form .search-button:active,
nav .nav-wrapper .search-form .search-button:focus {
    background-color: #0077ad;
}

.sidenav .divider {
    background-color: #363636;
}

.sidenav {
    background-color: #131313;
    border-right: 1px solid #363636;
}

.sidenav li a i {
    color: inherit !important;
}

/*
 *  [ HEADER ]
 */

.header {
    background-color: #131313;
    background-image: url(/images/bg.png);
    border-bottom: 1px solid #363636;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.header .header-container {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 1000px;
}

.header .header-container .header-title {
    font-size: 18px;
    padding-left: 6px;
}

@media only screen and (max-width: 1010px) {
    .header {
        display: none;
    }
}

/*
 *  [ PRODUCTS ]
 */

.product-container {
    margin: 0 auto;
    display: table;
    position: relative;
    padding-bottom: 82px;
}

.grids {
    display: grid;
    grid-template-columns: 312px 312px 312px 312px;
    padding: 16px 16px 16px 16px;
    grid-gap: 16px;
}

.grids .grid .card {
    background-color: #131313;
    border: 1px solid #363636;
    text-decoration: none;
    display: block;
    -webkit-transition: background-color .16s ease-out, -webkit-box-shadow .16s ease-out, -webkit-transform .16s ease-out;
    transition: background-color .16s ease-out, -webkit-box-shadow .16s ease-out, -webkit-transform .16s ease-out;
    transition: box-shadow .16s ease-out, transform .16s ease-out, background-color .16s ease-out;
    transition: box-shadow .16s ease-out, transform .16s ease-out, background-color .16s ease-out, -webkit-box-shadow .16s ease-out, -webkit-transform .16s ease-out;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    cursor: pointer;
    border-radius: 4px;
    color: #202225;
    margin-bottom: 16px;
}

.grids .grid .card:hover {
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, .24);
    box-shadow: 0 8px 16px rgba(0, 0, 0, .24);
    background-color: hsl(0, 0%, 5%);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    color: #18191c;
}

.grids .grid .card .wrapper {
    padding-bottom: 46.7391%;
    position: relative;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.grids .grid .card .image-wrapper,
.grids .grid .card .image-wrapper img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.grids .grid .card .content {
    padding: 16px 16px 8px;
}

.grids .grid .card .content .title {
    color: #ffffff;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
    line-height: 20px;
    font-size: 15px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-transform: uppercase;
}

.grids .grid .card .content .description {
    color: #b9bbbe;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin: 8px 0;
    font-size: 14px;
    line-height: 18px;
}

.grids .grid .card .content .card-footer {
    margin-top: 16px;
    margin-bottom: 8px;
}

.grids .grid .card:hover .content .card-footer button {
    background-color: #3ca374;
}

.grids .grid .card .content .card-footer .price {
    color: #dd301c;
    font-weight: 700;
    float: right;
    line-height: 32px;
    margin-right: 10px;
    font-size: 18px;
}

.grids .grid .card .content .card-footer .price span {
    font-weight: normal;
    font-size: 13px;
    vertical-align: top;
}

.header .header-container .grids {
    grid-template-columns: 312px 312px 312px;
    padding: 16px 16px 0;
}

.grids .grid .card .out-of-stock {
    position: absolute;
    width: -webkit-fill-available;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    text-align: center;
    color: silver;
    font-size: 27px;
}

@media only screen and (max-width: 1350px) {
    .grids {
        grid-template-columns: 275px 275px 275px 275px;
    }
}

@media only screen and (max-width: 1200px) {
    .grids {
        grid-template-columns: 245px 245px 245px 245px;
    }
}

@media only screen and (max-width: 1100px) {
    .grids {
        grid-template-columns: 200px 200px 200px 200px;
    }
}

@media only screen and (max-width: 900px) {
    .grids {
        grid-template-columns: 170px 170px 170px 170px;
    }
    .grids .grid .card .content .title {
        font-size: 11px !important;
    }
    .grids .grid .card .content .description,
    .footer {
        font-size: 9px !important;
    }
    .grids .grid .card .content .card-footer .price {
        font-size: 13px !important;
        line-height: 26px !important;
    }
    .grids .grid .card .content .card-footer .price span {
        font-size: 9px !important;
    }
}

@media only screen and (max-width: 800px) {
    .grids {
        grid-template-columns: 312px 312px;
    }
    .grids .grid .card .content .title {
        font-size: 14px !important;
    }
    .grids .grid .card .content .description,
    .footer {
        font-size: 12px !important;
    }
    .grids .grid .card .content .card-footer .price {
        font-size: 14px !important;
        line-height: 29px !important;
    }
    .grids .grid .card .content .card-footer .price span {
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 700px) {
    .grids {
        grid-template-columns: 245px 245px;
    }
}

@media only screen and (max-width: 600px) {
    .grids {
        grid-template-columns: 312px;
    }
}

/*
 *  [ BASICS ]
 */

a {
    color: #0084c1;
}

h1 {
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

button {
    background-color: #ffffff;
    width: auto;
    min-height: 32px;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 16px;
    border: 0;
    cursor: pointer;
}

button {
    background-color: #43b581;
    color: #ffffff;
}

button:hover,
button:active,
button:focus {
    background-color: #3ca374;
}

@media only screen and (max-width: 900px) {
    button {
        min-height: 26px !important;
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 800px) {
    button {
        min-height: 29px !important;
        font-size: 13px !important;
    }
}

/*
 *  [ DISCORD ]
 */

.discord {
    background-color: #6e83cb;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 1.5px 0 rgba(0, 0, 0, .05), 0 2px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 1.5px 0 rgba(0, 0, 0, .05), 0 2px 0 rgba(0, 0, 0, .05);
    -webkit-transition: background .16s ease-out, -webkit-box-shadow .16s ease-out, -webkit-transform .16s ease-out;
    transition: background .16s ease-out, -webkit-box-shadow .16s ease-out, -webkit-transform .16s ease-out;
    transition: box-shadow .16s ease-out, transform .16s ease-out, background .16s ease-out;
    transition: box-shadow .16s ease-out, transform .16s ease-out, background .16s ease-out, -webkit-box-shadow .16s ease-out, -webkit-transform .16s ease-out;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    cursor: pointer;
    overflow: hidden;
    z-index: 999;
}

.discord img {
    width: 55px;
}

.discord:hover {
    background-color: #6979c2;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, .24);
    box-shadow: 0 8px 16px rgba(0, 0, 0, .24);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}

/*
 *  [ FEEDBACK & FAQ ]
 */

.feedback-stars svg {
    background-color: rgb(200, 200, 200);
    width: 1.125em;
    padding: .2rem;
    color: #fff;
    font-size: 22px;
    border-radius: 3px;
    cursor: pointer;
    height: 1em;
}

.feedback-stars svg.stars-1 {
    background: #e22027;
}

.feedback-stars svg.stars-2 {
    background: #f47324;
}

.feedback-stars svg.stars-3 {
    background: #f8cc18;
}

.feedback-stars svg.stars-4 {
    background: #73b143;
}

.feedback-stars svg.stars-5 {
    background: #007f4e;
}

.feedback-date {
    float: right;
    color: rgb(99, 115, 129);
}

.feedback-list .item {
    color: rgb(99, 115, 129);
}

.question {
    color: #ffffff;
    font-size: 14px;
}

.feedback-description {
    color: #91979a;
}

.question-list .item,
.feedback-list .item {
    background-color: #131313;
    border: 1px solid #363636;
    -webkit-box-shadow: 0 0 7px #0000004f;
    box-shadow: 0 0 7px #0000004f;
    padding: 30px;
    margin-bottom: 10px;
}

.feedback-response {
    border-left: 4px solid #7e7e7e;
    color: #7e7e7e;
    padding-left: 1rem;
}

/*
 *  [ SEARCH RESULTS ]
 */

.search-header {
    text-align: center;
    font-size: 32px;
    margin-top: 5px;
}

.search-results-container {
    margin: 0 auto;
    display: table;
    position: relative;
    padding-bottom: 82px;
}

/*
 *  [ FOOTER ]
 */

.footer {
    width: 100%;
    background-color: #131313;
    float: left;
    -webkit-box-shadow: inset 0 1px 0 #292b2f;
    box-shadow: inset 0 1px 0 #292b2f;
    text-align: center;
    bottom: 0;
    position: absolute;
    height: 52px;
    border-top: 1px solid #363636;
}

.footer-container {
    max-width: 940px;
    margin: 0 auto;
    padding: 16px 0 0;
}

@media only screen and (max-width: 1100px) {
    .footer {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        font-size: 10px !important;
    }
}